@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body, input, textarea, button {
  font-family: var(--font-nunito);
}

img {
  max-width: 100%;
  display: block;
}
